@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-color:#343a40;
    --secondary-color: #f4f6f9;
    --tertiary-color: #007bff;
}
*{
    box-sizing: border-box;

}

body {
    font-family: 'Lato', sans-serif;
    margin:0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #adadad;
    position: absolute; 
}

  .container__nav {
      background-color: var(--primary-color);
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .container__nav__logo{
      width: 400px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
  }

    .logo{
        padding: 5px;
      color: var(--secondary-color);
    }
    .logo + p{
        color: var(--secondary-color);
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
    }

    .container__nav__items{
        color: var(--secondary-color);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

      .nav__list{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }

  .container__planner{
      height: 100%;
      display: flex;
      flex-direction: row;
  }

  .container__planner__left{
      background-color: var(--secondary-color);
      padding: 5px;
      width: 200px;

  }
  
  .toolList {
      list-style-type: none;
      width: 100%;
      margin: 5px;
      padding: 0px;
      cursor: pointer;
  }
    .toolList > li{
        padding: 5px;
        margin: 5px;
        font-size: 0.8rem;


        background-color: var(--secondary-color);
        word-wrap: break-word;
    }
    .toolList >li:hover{
        background-color: #c7c7c7;
        border-radius: 5px;
    }

  .container__planner__right{
      margin: 10px;
      box-shadow: 0 0 5px var(--primary-color);
    width: 50000px;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

      position: relative;
      display: inline-block;
      background-color: #cacaca;
  }

    .planner__right__nest{
        display: inline-block;
        width: 50000px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #8b8b8b;
        border: 1px solid #252525;
        height: 100px;

    }

    .process {

        width: 200px;
        height: 100px;
        background-color: #c8ff00;
        border: 1px solid #252525;
    }

    .red{
        background-color: #990000;
    }
    .blue{
        background-color: #005499;
    }
    .yellow{
        background-color: #998200;
    }
    .green{
        background-color: #2b9900;
    }

    .draggable{
        cursor: move;
    }

    .draggable.dragging{
        opacity: 0.5;
    }
